@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

$theme: #f27521;
$gradient: linear-gradient(
  170deg,
  hsl(24deg 89% 54%) 0%,
  hsl(24deg 90% 57%) 0%,
  hsl(23deg 92% 60%) 0%,
  hsl(23deg 94% 62%) 0%,
  hsl(23deg 96% 65%) 0%,
  hsl(23deg 97% 67%) 1%,
  hsl(22deg 99% 69%) 2%,
  hsl(22deg 100% 71%) 3%,
  hsl(22deg 100% 73%) 5%,
  hsl(23deg 100% 75%) 8%,
  hsl(23deg 100% 77%) 11%,
  hsl(23deg 100% 79%) 16%,
  hsl(23deg 100% 81%) 23%,
  hsl(23deg 100% 83%) 37%,
  hsl(23deg 100% 85%) 71%,
  hsl(23deg 100% 87%) 86%,
  hsl(23deg 100% 90%) 92%,
  hsl(23deg 100% 92%) 96%,
  hsl(23deg 100% 94%) 98%,
  hsl(23deg 100% 96%) 99%,
  hsl(23deg 100% 98%) 100%,
  hsl(0deg 0% 100%) 100%
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 15px;
  font-weight: 400;
}

h1,
h2 {
  font-size: 25px;
  font-weight: 600;
}
h3,
h4 {
  font-size: 20px;
  font-weight: 500;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  color: #000;
}
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sd {
  @media (max-width: 480px) {
    @content;
  }
}
