@import "../global.scss";
.main {
  min-height: 100vh;
  padding-top: 60px;
  .header {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
    h2 {
      font-size: 30px;
      color: #000;
    }
  }
  .dropdownCntr {
    span {
      margin-left: 30px;
      margin-bottom: 5px;
      color: #000;
    }
  }
  .dropdown {
    width: 200px;
    margin-left: 30px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    .grid {
      max-width: 1200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      @include md {
        grid-template-columns: 1fr 1fr;
      }
      @include sd {
        grid-template-columns: 1fr;
        padding: 0 15px;
      }
    }
  }
}
