@import "../global.scss";
.main {
  background-image: url("/images/aboutbg.jpg");
  background-size: 50px 50px;
  background-repeat: repeat;
  min-height: 100vh;
  padding-top: 60px;
  .header {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      @include md {
        grid-template-columns: 1fr 1fr;
      }
      @include sd {
        grid-template-columns: 1fr;
      }
    }
  }
}
