@import "../global.scss";
.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/aboutbg.jpg");
  background-size: 50px 50px;
  background-repeat: repeat;
  .container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .toptext {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      h3 {
        font-size: 45px;
        color: #fff;
        letter-spacing: 1px;
        @include md {
          font-size: 25px;
        }
        @include sd {
          font-size: 20px;
        }
      }
    }
    .btn {
      margin-bottom: 15px;
      button {
        padding: 15px 70px;
        font-size: 35px;
        background-color: #737373;
        border: none;
        color: #fff;
        border-radius: 10px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
        @include md {
          font-size: 25px;
        }
        @include sd {
          font-size: 20px;
          padding: 15px 40px;
        }
        &:hover {
          background-color: #303030;
          box-shadow: 0 0 3px #303030;
        }
      }
    }
    .middle {
      margin-bottom: 15px;
      p {
        font-size: 30px;
        @include sd {
          font-size: 20px;
        }
      }
    }
    .contactinfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      @include sd {
        grid-template-columns: 1fr;
        padding: 10px;
      }
    }
  }
}
